<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.nic.fruits">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:fullBackupContent="true"
        android:grantUriPermissions="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true"
        tools:replace="android:roundIcon,android:theme">
        <activity android:name=".FarmFertilizer"></activity>
        <activity android:name=".FertilizerCalculation" />
        <activity android:name=".CropDetails.UploadCropDetails" />
        <activity android:name=".CropDetails.CropWeeklyData" />
        <activity
            android:name=".CropDetails.CropRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeatherForecastActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NPCIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FruitsHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ValidateOTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CardViewFarmerPaymentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardViewFarmerDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardViewCropSurveyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardViewLandDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedBackDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CropDetails.CropDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPGenerationMainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>